@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.mark{
  @apply border-[5px] border-red-400
}

.sidebar-link{
  @apply font-semibold hover:underline cursor-pointer w-full p-[10px] text-center
}

.input-holder{
  @apply w-full  mb-[15px] 
}
.input{
  @apply w-full rounded-[5px] p-[7px]
}

.loading-animation{
  border-top : 3px solid white;
  animation : loading 1s infinite linear ;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}